$white: #ffffff
$primary-blue: #04256C
$primary-blue-bright: #0C63E7
$primary-yellow: #FFCA07
$primary-text-100: #1E1F22
$primary-text-80: #3C3F45
$primary-text-50: #797E8A
$primary-text-30: #979DAC

