body
  font-family: $main-font-family
  font-size: 16px
  color: $primary-blue

  &.home
    overflow-x: hidden

img
  display: block
  width: 100%
  height: auto

a
  color: $primary-blue-bright

  &.primary-button
    text-decoration: none
    border-radius: 8px
    padding: 10px 20px
    display: inline-flex
    align-items: center

    svg
      margin-left: 10px

  &.yellow-background
    background-color: $primary-yellow
    color: $primary-blue

  &.blue-background
    background-color: $primary-blue
    color: $white

p
  margin: 1rem 0
  line-height: 1.5
  color: $primary-text-50

.small
  font-size: 0.9rem

h1, h2, h3, h4
  margin: 2rem 0

h1
  font-size: 2.5rem

h2
  font-size: 2.2rem

h3
  font-size: 1.8rem

h4
  font-size: 1.6rem

.centered
  width: 100%
  text-align: center

.max-600
  max-width: 677px
  margin-left: auto
  margin-right: auto

.main-container
  max-width: 1400px
  margin-left: auto
  margin-right: auto
  padding-left: 4rem
  padding-right: 4rem

.vertical-spacing
  margin-top: 8rem
  margin-bottom: 8rem

.vertical-padding
  padding-top: 8rem
  padding-bottom: 8rem

.medium-bottom-spacing
  margin-bottom: 4rem

.rounded-corners
  border-radius: 20px

.drop-shadows
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.15)

.inner-2-grid
  display: grid
  grid-template-columns: 275px 575px
  justify-content: space-around
  align-items: center
  gap: 100px

.home-grid
  display: flex
  flex-flow: row wrap
  justify-content: space-around
  align-items: center

  .text-info
    width: 275px

  .image-info
    width: 575px

.inner-4-grid
  display: flex
  flex-flow: row wrap
  gap: 80px
  justify-content: space-between

  & > div
    max-width: 260px

.no-vertical-margin
  margin-top: 0
  margin-bottom: 0

.margin-bottom-1
  margin-bottom: 1rem

.grid-3
  display: grid
  grid-template-columns: repeat(3, 1fr)
  justify-content: space-between
  gap: 40px

.grid-3-carousel
  display: flex
  flex-flow: row nowrap
  gap: 40px
  padding-bottom: 4rem

  .card:nth-child(n+4)
    opacity: 0
    pointer-events: none

.card
  dipslay: grid
  grid-template-rows: 330px 60px 60px
  gap: 40px
  padding: 1rem
  border-radius: 16px
  background-color: $light-gray
  width: 408px
  transition: all 0.25s ease-in-out
  text-decoration: none

  figure
    padding: 0
    margin: 0

  img
    border-radius: 18px
    width: 408px
    height: 330px
    object-fit: cover

  &:hover
    transform: scale(1.01)
    box-shadow: 0px 32px 80px rgba(10, 31, 68, 0.06), 0px 32px 48px rgba(50, 50, 71, 0.05)
