.top-header
  background-color: $primary-blue
  color: $white
  padding: 2px 40px
  position: relative
  z-index: 1
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: center
  font-size: 0.8rem
  line-height: 1

  p
    margin-top: 8px
    margin-bottom: 8px
    margin-left: 120px
    color: $white

  svg
    height: 0.9rem

  ul
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    list-style: none

    li
      a
        display: block
        padding: 8px 24px
        color: $white
        font-weight: 500
        text-decoration-color: $white
        text-decoration-thickness: 2px

      &.primary-button a
        background: $secondary-blue
        text-decoration: none
        margin-left: 12px

.branding-navigation
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: space-between
  position: relative
  z-index: 2
  // max-height: 100px
  padding: 0 20px
  background-color: $white

  .site-branding
    width: 100%
    max-width: 380px
    padding: 20px 20px 0
    margin-top: -50px

  nav.main-navigation
    flex-grow: 1
    max-width: 1100px
    font-size: 0.95rem

    ul
      display: flex
      flex-flow: row nowrap
      list-style: none
      justify-content: space-between
      padding: 0
      margin: 0

      li
        display: flex
        flex-direction: row
        align-items: stretch

        a
          display: block
          padding: 40px 16px
          text-decoration: none
          color: $primary-text-100
          line-height: 1.5
          font-weight: 500
          background:
            image: url(../images/down-arrow.svg)
            repeat: no-repeat
            position: 100% 50%
            size: 10px

          svg
            width: 20px
            height: 20px

        &:last-child a
          background-image: none

    button.menu-toggle
      display: none
