.home-hero
  background-color: $primary-blue-bright
  position: relative

  .home-hero-inner
    height: 780px
    display: grid
    grid-template-columns: 368px 1fr
    gap: 100px
    align-items: center
    position: relative
    z-index: 2

    .home-hero-info
      p, h1
        color: $white

      h1
        font-size: 3rem

      p
        font-size: 1.5rem
        margin-bottom: 2rem

svg
  &.circle, &.semicircle
    position: absolute

  &.circle
    left: -150px
    top: 100px
    z-index: 1

  &.yellow
    circle
      fill: $primary-yellow

  &.semicircle
    height: 150px
    left: -150px
    top: 0
    transform: rotate(180deg)
    z-index: 1
    
.home-ofertaacademica

  .image-info
    img
      border-radius: 20px

  &:nth-child(odd)
    background-color: $light-gray

  div
    background-repeat: no-repeat

  .oferta-1
    background:
      image: url(../images/background-isae-1.svg)
      position: 80% center

  .oferta-2
    background:
      image: url(../images/background-isae-2.svg)
      position: 20% center

  .oferta-3
    background:
      image: url(../images/background-isae-3.svg)
      position: 80% center

  .oferta-4
    background:
      image: url(../images/background-isae-4.svg)
      position: 20% center

  .oferta-5
    background:
      image: url(../images/background-isae-5.svg)
      position: 80% center

  p
    margin-bottom: 2rem